.wrapper {
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    svg {
        color: #b3b3b3;
        transition: all 0.2s ease-in;
        cursor: pointer;
        &:hover {
            color: #fff;
        }
    }
    .state {
        svg {
            font-size: 4rem;
            color: #fff;
        }
    }
    .previous,.next{
      font-size: 3rem;
    }
}
